body {
    overflow-x: hidden;
    color: #000000;
}

.btn, .btn-success {
    color: #ffffff;
    background-color: #f36926;
    border-color: #f36926;
}

a, a:hover, a:focus, a:active, a.active {
    outline: 0;
    color: #f36926;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #f36926;
    background-color: transparent;
}